		*{
			margin:0;
			padding:0; 
		}
		html{background-color: #9CD6F5;}
		h3{padding:0.5em; font-weight: bold;}
		p{padding-right:1em;padding-left:1em;color:black;}
		
		header{
			border-bottom:2px solid #ef9c00;
		}
		body{
			width: 1350px;
			background-color: white;
			margin: 10px auto;
			border: 1px solid black;
			}
		#sidebar {
					width: 446px;
					height: 430px;
					float: left;
					border-right: 2px solid #ef9c00;
					border-left: 2px solid #ef9c00;
					padding-left:1px;
					}
		main {
				width: 446px;
				height: 430px;
				float: right;
				border-right: 2px solid #ef9c00;
				padding-left:1px;
				}
		
		footer { 
				clear: both;
				border-top: 2px solid #ef9c00;
				}
 

			